/* Font style  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style */
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
}

/* top section style */
.top-section {
  background-color: #2d25a0;
  padding: 5%;
}
.top-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-section-information {
  width: 50%;
}
.text {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 30px;
}
.watch-live-button {
  color: white;
  background-color: #e02c6d;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 24px;
}

.top-section-image {
  width: 50%;
}
.top-section-image img {
  width: 100%;
}

/* top section style end */

/* palyer-section */
.players {
  margin-top: 70px;
}
.all-players {
  display: flex;
  justify-content: center;
}
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player {
  width: 330px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.player-image {
  width: 100%;
  height: 256px;
}

.player-name {
  margin-top: 1%;
  margin-bottom: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.player-detail {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
}
/* player-section-end */

/* sponsor -design */
.sponsor-fixture-section {
  margin-top: 50px;
  padding: 5%;
}
.sponsors-fixtures-container {
  width: 100%;
  display: flex;

  /* align-items: center;
justify-content: center;
padding-top: 10%; */
}
.sponsors {
  width: 50%;
}
.photo {
  display: flex;
  justify-content: center;
}
.text-design {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}
.photo img {
  width: 300px;
  height: 250px;
}
.fixtures {
  width: 50%;
}
.text-size {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
}
.see-more-btn {
  color: white;
  background-color: #e02c6d;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 5px;
}
/* sponsor design end */

/* highlight start */
.last-section {
  width: 100%;
  text-align: center;
}
.last-section h2 {
  color: cadetblue;
  font-size: 2em;
  margin-bottom: 20px;
}
.last-section iframe {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  display: block;
}
/* highlight end */

/* footer start */
footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icon img {
  width: 483.87px;
  height: 110px;
}

.social-icon {
  margin-bottom: 20px;
}
.copyright-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

/* media query */

@media only screen and (max-width: 688px) {
  .top-section-container {
    flex-direction: column;
  }

  .top-section-information {
    width: 100%;
    margin-bottom: 17%;
  }
  .top-section-image {
    width: 100%;
  }

  .players-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-icon img {
    width: 100%;
    transform: scale(0.5);
  }
  .sponsors-fixtures-container {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .fixtures {
    margin-top: 10px;
    width: 100%;
  }
  .see-more-btn {
    width: 84%;
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .last-section {
    width: 100%;
  }
  .last-section iframe {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .last-section-container {
    width: 100%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .players-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-icon img {
    width: 100%;
    transform: scale(1);
  }

  .sponsor-fixture-section {
    padding: 0%;
    margin-bottom: 80px;
  }
  .sponsors-fixtures-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fixtures {
    width: 80%;
  }
  .sponsors {
    margin-bottom: 50px;
  }
  .see-more-btn {
    width: 90%;
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  .highlight-text {
    font-size: 1.8em;
  }
}
