/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #2D25A0;
}

.middle-container{
    width: 1050px;
}

/* top-section style */
.top-sections{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 485px;
    height: 230px;
    font-size: 34px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 251px;
    padding-top: 50px;
}
.live{
    text-decoration: none;
    width: 168px;
    height: 44px;
    font-size: 10px;
    background-color: #E02C6D;
    padding:10px 24px;
    color: #FFFFFF;
}


.content-banner img{
    width: 342px;
    height: 410px;
    
}

/* middle-section style */

.middle-section-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.players{
    background-color: #FFFFFF;
    margin-top: 50px;
    width: 330px;
    height: 520px;
}


.player .player-photo img{
    width: 300px;
    height: 256px;
    padding-top: 15px;
    padding-left: 15px;
}
.player-info{
    width: 300px;
    height: 154px;
    padding-bottom: 30px;
    padding-left: 15px;
}

/* banner design */
footer{
margin-top: 150px;
margin-bottom: 60px;
}
.footer-container {
display: flex;
flex-direction: column;
align-items: center;
}
.logo-and-name {
display: flex;
align-items: center;
}
.website-logo {
margin-right: 20px;
}

.social-media-icon {
margin-top: 20px;
margin-bottom: 20px;
height: 32px;
}

.fa-instagram{
    font-size: 20px;
}

.footer-container p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    }